<h3>POST /api/ragpicker/line_items/add</h3>
<div>
  add a line item
</div>
<b>Resource URL </b>
<div>
http://ragpickers.herokuapp.com/api/ragpicker/line_items/add
</div>
<b>sample request</b>
<div>
  curl --data "line_item[category_id]=1&line_item[pick_up_id]=6&line_item[quantity]=0.2&token=login_token" "http://ragpickers.herokuapp.com/api/ragpicker/line_items/add"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th style='width: 100px'>Data type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>token </td>
    <td>Y</td>
    <td>login token</td>
  </tr>
  <tr>
    <td>line_item[category_id]</td>
    <td>Y</td>
    <td>integer</td>
    <td>id of category</td>
  </tr>
  <tr>
    <td>line_item[pick_up_id]</td>
    <td>Y</td>
    <td>integer</td>
    <td>id of pick-up</td>
  </tr>
  <tr>
    <td>line_item[quantity]</td>
    <td>Y</td>
    <td>float</td>
    <td>Quantity</td>
  </tr>
</table>
<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"line_item":{"id":4,"name":"Steel","cost_price":"150.0","quantity":0.3,"item_total":"45.0","category_id":3},"meta":{"pickup_total":"48.0"}}
    </td>
  </tr>
</table>
