<h3>POST /api/ragpicker/users</h3>
<div>
  Create an user
</div>
<b>Resource URL </b>
<div>
http://ragpickers.herokuapp.com/api/ragpicker/users
</div>
<b>sample request</b>
<div>
  curl --data "user[full_name]=Bao Vuong&user[phone_number]=01234567890&user[password]=123456&user[avatar]={\"image_url\":\"http://url_A\",\"thumb_url\":\"http://url_A_thumb\"}" "http://ragpickers.herokuapp.com/api/ragpicker/users"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th style='width: 100px'>Data type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>user[full_name]</td>
    <td>Y</td>
    <td>string</td>
    <td>Full name</td>
  </tr>
  <tr>
    <td>user[phone_number]</td>
    <td>Y</td>
    <td>string</td>
    <td>Phone number</td>
  </tr>
  <tr>
    <td>user[password]</td>
    <td>Y</td>
    <td>string</td>
    <td>Password must be at least 6 characters long</td>
  </tr>
  <tr>
    <td>user[password_confirmation]</td>
    <td>N</td>
    <td>string</td>
    <td>Password confirmation must be at least 6 characters long</td>
  </tr>
  <tr>
    <td>user[email]</td>
    <td>N</td>
    <td>string</td>
    <td>Email</td>
  </tr>
  <tr>
    <td>user[avatar]</td>
    <td>N</td>
    <td>string</td>
    <td>A photo as string in json, e.g. "{\"image_url\":\"http://url_A\",\"thumb_url\":\"http://url_A_thumb\"}"</td>
  </tr>
</table>
<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"user":{"id":19,"full_name":"Bao Vuong","phone_number":"0123456789","created_at":"2015-09-06T05:05:57.103Z","authentication_token":null,"avatar":{"image_url":"http://url_A","thumb_url":"http://url_A_thumb"},"gender":null,"address":null,"city":null,"notified":false,"pincode":null}}
    </td>
  </tr>
  <tr>
    <td>
      {"error":{"code":10100,"msg":"Request submitted for this phone number before"}}
    </td>
  </tr>
</table>

<h4>Error codes</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Status </th>
    <th style='width: 200px'>Code</th>
    <th>Message</th>
  </tr>
  <tr>
    <td>405</td>
    <td>10100</td>
    <td>Request submitted for this phone number before</td>
  </tr>
</table>
