<h3>POST /api/ragpicker/pick_ups/:id/proceed</h3>
<div>
  proceed a pick-up
</div>
<b>Resource URL </b>
<div>
  http://ragpickers.herokuapp.com/api/ragpicker/pick_ups/:id/proceed
</div>
<b>Example request</b>
<div>
  curl --data "line_items[][category_id]=1&line_items[][quantity]=0.2&token=login_token" 'http://ragpickers.herokuapp.com/api/ragpicker/pick_ups/:id/proceed'
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>token </td>
    <td>Y</td>
    <td>login token</td>
  </tr>
  <tr>
    <td>id </td>
    <td>Y</td>
    <td>id of pick-up</td>
  </tr>
  <tr>
    <td>line_items[][category_id] </td>
    <td>Y</td>
    <td>id of category</td>
  </tr>
  <tr>
    <td>line_items[][quantity] </td>
    <td>Y</td>
    <td>Quantity</td>
  </tr>
</table>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"pick_up":{"id":10,"address":"address","city":"city","pincode":"pincode","lat":null,"lon":null,"subscription":"daily","start_time":1443357748,"end_time":1443357748,"category_set":[{"id":1,"name":"News Paper","price":"15.0"},{"id":2,"name":"Clothes","price":"25.0"}],"status":"done","accepted_at":1443345532,"reason":null,"total":"48.0","user":{"id":18,"email":"","full_name":"Bao Vuong","phone_number":"01234567890","created_at":"2015-09-02T07:51:58.080Z","authentication_token":null,"avatar":{"image_url":"http://url_A","thumb_url":"http://url_A_thumb"},"gender":"female","address":"address","city":null,"notified":true,"pincode":"pincode","lat":null,"lon":null},"line_items":[{"id":5,"name":"News Paper","cost_price":"15.0","quantity":0.2,"item_total":"3.0","category_id":1},{"id":6,"name":"Steel","cost_price":"150.0","quantity":0.3,"item_total":"45.0","category_id":3}]}}
    </td>
  </tr>
</table>
