- @page_title = "About"
%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  = render 'shared/navigation'
/ Page Content
.container.au-pad
  .row
    .col-md-12
      %h3{:style => ""} ABOUT US
      %p
        Newspapers, clothes, unused gadgets and what not piling up? Eating up space in your home sweet
        home? And you just don’t have the time to haggle over disposing it off to your local raddiwala!
        Worry no more! We have been in your place and are here with a one-stop solution to all your junk-
        related problems. We will take away all your scrap-worries in a matter of minutes and leave you smiling
        in your de-cluttered home, with the satisfaction of helping out someone who could value what you need
        no longer
      %p
        ScrapToValue brings to you a stress-free way to get rid of your household scrap. We promise you hassle
        free scrap disposal right at your doorstep – with thorough professionalism, a responsibility for the
        society and a concern for the environment.
      %p
        With an experienced leadership to guide us, we at ScrapToValue aim to
        %br/
        1  Ease your waste disposal worries with our one-click booking & door-to-door pick-up, as per your
        convenience.
        %br/
        2  Provide a greener, cleaner environment to our cities, thus realizing the dream of a swacch
        Bharat.
        %br/
        3  Fulfill our responsibility towards the society by partnering with NGO’s to help brighten up the
        lives of the less fortunate.
/ / Page Content
