.container
  .col-md-12.col.col11
    .text-center.contactus
      %img{:src => "img/sj-logo-contact.png"}
        %h3.abt Contact us
        %h3{:style => ""}
          Reach us at :
          %a{:href => "mailto:reachus@scrapjoe.com", :target => "_top"} reachus@scrapjoe.com
          %br/
          %span 96866 07563
