/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  / Alert
  .alert.alert-info.alert-dismissable.mgs-bg
    %a.panel-close.close.cls{"data-dismiss" => "alert"} ×
    .container
      %ul.list-inline
        %li
          %p Want to Partner with ScrapToValue
        %li
          %a.btn{:href => "#"} BECOME A PARTNER
  / / Alert
  .container.topnav
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.topnav{:href => "#"}
        %img{:alt => "STV-LOGO", :src => "logo-stv.png"}/
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} About Us
        %li
          %a{:href => "#"} How it works
        %li
          %a{:href => "#"} Contact Us
        %li
          %a.btn{"data-dismiss" => "model", "data-target" => "#sign-log", "data-toggle" => "modal", :href => "#"} SIGN IN
    / /.navbar-collapse
/ /.Navigation
/ Header
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1{:style => ""}
            We're doing something new & exciting ,
            %br>/
            and everyone's envited
          %p
            This will chang your home,your city and lives of few others.
            %br/
            Partner with us in our moment towards the making of swacch Bharath
            %br/
            the Dream of out forefathers,greener environments,loveier homes.
          %a.btn.btn-ap{:href => "#", :style => ""} Book Appointment
          %ul.list-inline
            %li
              %a{:href => "#"}= image_tag "istore.png"
            %li
              %a{:href => "#"}
                %img{:alt => "play-store", :src => "gplay.png"}/
/ Header
/ How It works
.conatiner
  .col-md-12.pad2
    .row
      .col-md-4
        .row
          %img{:alt => "pickup", :src => "pickup.png"}
            %h4 Schedule Pickup
      .col-md-4
        .row
          %img{:alt => "truck", :src => "truck.png"}
            %h4{:style => " "} Get all your waste paper cloths and otherwaste items picked up
      .col-md-4
        .row
          %img{:alt => "money", :src => "money.png"}
            %h4 Get Money in exchange!
/ /.How It works
/ Rate Card
.col-md-12.bg-offer
  .container
    .row
      .col-md-5ths.col-xs-6
        %a{:href => "#"}
          %img.img-responsive{:alt => "clothes", :src => "cloths.png", :style => "width:100%;"}
            .bg-rate
              %h3 Cloths
              %h5 Rs 15/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          %img.img-responsive{:alt => "bottles", :src => "bottles.png", :style => "width:100%;"}
            .bg-rate
              %h3 Glass Bottels
              %h5 Rs 50/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          %img.img-responsive{:alt => "papper", :src => "papper.png", :style => "width:100%;"}
            .bg-rate
              %h3 News Paper
              %h5 Rs 50/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          %img.img-responsive{:alt => "books", :src => "books.png", :style => "width:100%;"}
            .bg-rate
              %h3 Old Books
              %h5 Rs 10/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          %img.img-responsive{:alt => "iron", :src => "iron.png", :style => "width:100%;"}
            .bg-rate
              %h3 Steel
              %h5 Rs 60/kg
    .row
      %a.btn.rtbtn{:href => "#"}
        View Rate Card
/ /. Rate Card
/ Slider
.container.pad3
  .col-md-12
    .row
      .col-md-12
        %h3 What our customer think about us
      .col-lg-6.col-lg-offset-3{"data-wow-delay" => "0.2s"}
        #quote-carousel.carosel1.carousel.slide{"data-ride" => "carousel"}
          .carousel-inner.text-center
            / Quote 1
            .item.active
              .row
                .col-md-12.crtxt
                  .row
                    %img{:alt => "slide1", :src => "aviator.png"}
                  %p Andrea Pierce
                  %p Et harum qiudem rerum facilis est et expedita distictio.Nams impedit
            / Quote 2
            .item
              .row
                .col-md-12.crtxt
                  .row
                    %img{:alt => "slider2", :src => "aviator.png"}
                  %p Andrea Pierce
                  %p Et harum qiudem rerum facilis est et expedita distictio.Nams impedit
      / Slider Indicators
      .col-md-8.col-md-offset-4
        #quote-carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators.caroselimgs
            %li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
              %img.img-responsive{:alt => "indiactor1", :src => "carosol-indicator1.png"}
            %li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
              %img.img-responsive{:alt => "indicator2", :src => "carosol-indicator2.png"}
/ / Slider
/ Footer
%footer.fot
  .container
    .row
      .col-lg-12.fot-pad
        %ul.list-inline
          %li
            %a{:href => "#"}
              %img{:alt => "linkedin", :src => "linkedin.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "twitter", :src => "twitter.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "facebook", :src => "fb.png"}/
          %li |
          %li
            %a{:href => "#"} Terms & Conditions
/ / Footer
/ pop up
#sign-log.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.popbox{:role => "document"}
    .modal-content.brd0
      .modal-header
        %a.close{"aria-label" => "Close", "data-dismiss" => "modal", :href => "#", :type => "button"} &times;
      .modal-body.txtctr
        %img{:alt => "STV-logo", :src => "logo-stv.png"}
          / Log-in
          %form.login
            .form-group
              %input.infln{:placeholder => "FULL NAME", :type => "textbox"}
                %input.inpw{:placeholder => "PASSWORD", :type => "password"}
                  %a.pull-right.frgpw{:href => "#"} Forget Password?
                  %a.btn.popbtn{:href => "#"} LOG IN
          / Sign up
          %form.signup
            .form-group
              .row
                %a{:href => "#"}
                  %img{:src => "pro-pic.png", :style => "profile-pic"}/
              %input.infln{:placeholder => "FULL NAME", :type => "textbox"}
                %input.inph{:placeholder => "PHONE NUMBER", :type => "number"}
                  %input.inpw{:placeholder => "PASSWORD", :type => "password"}
                    %a.btn.popbtn{:href => "#", :style => ""} SIGN UP
          .modal-footer.popfot
            .signup
              %span Already a User ?
              %a.log{:href => "#"} Login
              %span here
            .login
              %span New User ?
              %a.sign{:href => "#"} Sign in
              %span here
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
/ Signin and login togle script
:javascript
  $(document).ready(function(){
      $(".signup").hide();
      $(".sign").click(function(){
          $(".login").hide('slow');
          $(".signup").show('slow');
      });
      $(".log").click(function(){
          $(".login").show('slow');
          $(".signup").hide('slow');
      });
  });
