- @page_title = "Terms and Conditions"
%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  = render 'shared/navigation'
/ Page Content
.container.au-pad
  .row
    .col-md-12
      %h3{:style => ""} Terms and Conditions
      %p
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                         Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                         Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                         Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
      %p
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
      %p
        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite                        Lorem Ipsum elite Lorem Ipsum elite Lorem Ipsum elite
/ / Page Content
= render 'shared/footer'
= render 'shared/pop_up'