= form_for resource, as: resource_name, url: registration_path(resource_name), remote: true, :html => {:class => 'signup2', 'data-parsley-validate'=> true, id: 'signupForm'} do |f|
  .form-group
    .row
      %a{:href => "#"}
        = image_tag 'pro-pic.png', style: 'profile-pic', class: 'choose_user_avatar small'
  = render 'user/registrations/fields', f: f
