.alert.alert-danger
  - unless resource.errors.blank?
    %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      %span(aria-hidden="true") &times;
    - resource.errors.full_messages.each do |msg|
      %br
      = msg
