%footer.fot
  .container
    .row
      .col-lg-12.fot-pad
        %ul.list-inline
          %li
            %a{:href => "#"}
              = image_tag 'linkedin.png'
          %li
            %a{:href => "#"}
              = image_tag 'twitter.png'
          %li
            %a{:href => "#"}
              = image_tag 'fb.png', :alt => "facebook"
          %li 
            |
          %li
            %a{:href => "#"} Terms & Conditions