#sign-log.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.popbox{:role => "document"}
    .modal-content.brd0
      .modal-header
        %a.close{"aria-label" => "Close", "data-dismiss" => "modal", :href => "#", :type => "button"} &times;
      .modal-body.txtctr
        = image_tag 'sj-logo.png'
        / Log-in
        .devise-login-form.txtctr
          = render 'user/sessions/form', error: nil
        / / Sign up
        .devise-logout-form.txtctr
          = render 'user/registrations/form'
        .devise-new-password-form.txtctr
          = render 'user/passwords/new'

        .modal-footer.popfot
          .signup2
            %span Already a User ?
            %a.log{:href => "#"} Sign In
            %span here
          .login2
            %span New User ?
            %a.sign{:href => "#"} Sign Up
            %span here
