#sign-log.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.popbox{:role => "document"}
    .modal-content.brd0
      .modal-header
        %a.close{"aria-label" => "Close", "data-dismiss" => "modal", :href => "#", :type => "button"} &times;
      .modal-body.txtctr
        = image_tag 'logo-stv.png', :alt => "STV-logo"
        / Log-in
        .devise-login-form.txtctr
          = render partial: 'users/sessions/form', error: nil
        / / Sign up
        .devise-logout-form.txtctr
          = render partial: 'users/registrations/form'
        .modal-footer.popfot
          .signup
            %span Already a User ?
            %a.log{:href => "#"} Login
            %span here
          .login
            %span New User ?
            %a.sign{:href => "#"} Sign up
            %span here
:javascript
  $(document).ready(function(){
      $(".signup").hide();
      $(".sign").click(function(){
          $(".login").hide('slow');
          $(".signup").show('slow');
      });
      $(".log").click(function(){
          $(".login").show('slow');
          $(".signup").hide('slow');
      });
      $(".notice" ).fadeOut(4000);
  });
