.container.sumpad
  .col-md-12
    .row.sumbrd
      .bgblk
        %h4
          Summery
          %span (2)
      .col-md-12.intxt{:style => "padding-top:20px; padding-left: 40px;"}
        .row
          %div
            %p payment:
            %p COP
          %div
            %p Material
            %ol
              %li Plastic
              %li Glass Bottles
              %li Milk
      .sumtxt
        %a.btn.btn-sl{:href => "#"} DONE
