.container.sumpad
  .col-md-12
    .row.sumbrd
      .bgblk
        %h4
          Summary
          %span (#{@selected_categories.count})
      .col-md-12.intxt{:style => "padding-top:20px; padding-left: 40px;"}
        .row
          %div
            %p payment:
            %p COP
          %div
            %p Material
            %ol
              - @selected_categories.each do |cat|
                %li= cat.name
      .sumtxt
        = link_to 'DONE', user_categories_path, class: 'btn btn-sl'
