<h3>GET /api/categories</h3>
<div>
  collection of categories
</div>
<b>Resource URL </b>
<div>
http://ragpickers.herokuapp.com/api/categories
</div>
<b>sample request</b>
<div>
  curl "http://ragpickers.herokuapp.com/api/categories"
</div>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"categories":[{"id":1,"name":"News Paper","price":"15.0","image":{"medium_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/1/medium_news_paper.png","small_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/1/small_news_paper.png"}},{"id":2,"name":"Clothes","price":"25.0","image":{"medium_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/2/medium_clothes.png","small_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/2/small_clothes.png"}},{"id":3,"name":"Steel","price":"150.0","image":{"medium_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/3/medium_steel.png","small_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/3/small_steel.png"}},{"id":4,"name":"Plastic","price":"55.0","image":{"medium_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/4/medium_plastic.png","small_url":"https://wallpapersadmin-dev.s3.amazonaws.com/dev/ragpickers/category/image/4/small_plastic.png"}}]}
    </td>
  </tr>

</table>
