<h3>GET /api/common/pick_ups</h3>
<div>
  Returns a collection of pickups
</div>
<b>Resource URL </b>
<div>
  http://ragpickers.herokuapp.com/api/common/pick_ups
</div>
<b>Example request</b>
<div>curl 'http://ragpickers.herokuapp.com/api/common/pick_ups?filter=pending&date=1442297307&token=login_token'</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>token </td>
    <td>Y</td>
    <td>login token</td>
  </tr>
  <tr>
    <td>filter </td>
    <td>N</td>
    <td> filter value eq 'pending' for getting pending pickups, eq 'accepted' for accepted pickups</td>
  </tr>
  <tr>
    <td>date</td>
    <td>N</td>
    <td>value of date is an epoch time, e.g. 1442320948 for 2015-09-15 19:42:28 +0700
    </td>
  </tr>
  <tr>
    <td>user_id</td>
    <td>N</td>
    <td>id of user that created pick-up
    </td>
  </tr>
  <tr>
    <td>page</td>
    <td>N</td>
    <td>an integer, default: 1</td>
  </tr>
  <tr>
    <td>per_page</td>
    <td>N</td>
    <td>an integer, default: 10</td>
  </tr>
</table>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"pick_ups":[{"id":40,"address":"address","city":"city","pincode":"pincode","lat":28.633074,"lon":77.219543,"subscription":"weekly","start_time":1445407253,"end_time":1445414453,"category_set":[{"id":1,"name":"News Paper","price":"15.0"},{"id":2,"name":"Clothes","price":"25.0"}],"status":"pending","user":{"id":18,"email":"","full_name":"Bao Vuong","phone_number":"01234567890","created_at":"2015-09-02T07:51:58.080Z","authentication_token":null,"avatar":{"image_url":"http://url_A","thumb_url":"http://url_A_thumb"},"gender":"female","address":"address","city":null,"notified":true,"pincode":"pincode","lat":null,"lon":null}}],"meta":{"current_user_id":22,"total_pages":2,"total_pick_ups":2}}
    </td>
  </tr>
</table>
