<h3>GET /api/common/pick_ups/:id</h3>
<div>
  Show a pick_up
</div>
<b>Resource URL </b>
<div>
http://ragpickers.herokuapp.com/api/common/pick_ups/:id
</div>
<b>sample request</b>
<div>
  curl "http://ragpickers.herokuapp.com/api/common/pick_ups/:id?token=login_token"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>token</td>
    <td>Y</td>
    <td>authentication token that api sign_in returned</td>
  </tr>
  <tr>
    <td>id</td>
    <td>Y</td>
    <td>Id of pick_up</td>
  </tr>
</table>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"pick_up":{"id":6,"address":"address","city":"city","pincode":"pincode","subscription":"weekly","start_time":1443188700,"end_time":1443202200,"category_set":[{"id":1,"name":"News Paper","price":"15.0"},{"id":2,"name":"Clothes","price":"25.0"}]}}
    </td>
  </tr>
</table>
