<h3>POST /api/pick_ups</h3>
<div>
  Create a pick_up
</div>
<b>Resource URL </b>
<div>
http://ragpickers.herokuapp.com/api/pick_ups
</div>
<b>sample request</b>
<div>
  curl --data "pick_up[address]=address&pick_up[city]=city&pick_up[pincode]=pincode&pick_up[start_time]=1442320948&pick_up[end_time]=1442321148&pick_up[subscription]=weekly&pick_up[category_set][]=1&pick_up[category_set][]=2&token=login_token" "http://ragpickers.herokuapp.com/api/pick_ups"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th style='width: 100px'>Data type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>token</td>
    <td>Y</td>
    <td>string</td>
    <td>authentication token that api sign_in returned</td>
  </tr>
  <tr>
    <td>pick_up[address]</td>
    <td>Y</td>
    <td>string</td>
    <td>Address</td>
  </tr>

  <tr>
    <td>pick_up[city]</td>
    <td>Y</td>
    <td>string</td>
    <td>City</td>
  </tr>

  <tr>
    <td>pick_up[pincode]</td>
    <td>N</td>
    <td>string</td>
    <td>Pin code</td>
  </tr>
  <tr>
    <td>pick_up[lat]</td>
    <td>Y</td>
    <td>float</td>
    <td>Latitude </td>
  </tr>
  <tr>
    <td>pick_up[lon]</td>
    <td>Y</td>
    <td>float</td>
    <td>Longitude </td>
  </tr>
  <tr>
    <td>pick_up[subscription]</td>
    <td>N</td>
    <td>string</td>
    <td>subscription in [daily, weekly, monthly]</td>
  </tr>
  <tr>
    <td>pick_up[start_time]</td>
    <td>Y</td>
    <td>integer</td>
    <td>Start time is an epoch time, e.g. 1442320948 for 2015-09-15 19:42:28 +0700
    </td>
  </tr>
  <tr>
    <td>pick_up[end_time]</td>
    <td>Y</td>
    <td>integer</td>
    <td>End time is an epoch time </td>
  </tr>
  <tr>
    <td>pick_up[category_set][]</td>
    <td>Y</td>
    <td>integer</td>
    <td>id of category</td>
  </tr>
</table>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"pick_up":{"id":40,"address":"address","city":"city","pincode":"pincode","lat":28.633074,"lon":77.219543,"subscription":"weekly","start_time":1445407253,"end_time":1445414453,"category_set":[{"id":1,"name":"News Paper","price":"15.0"},{"id":2,"name":"Clothes","price":"25.0"}],"status":"pending","user":{"id":18,"email":"","full_name":"Bao Vuong","phone_number":"01234567890","created_at":"2015-09-02T07:51:58.080Z","authentication_token":null,"avatar":{"image_url":"http://url_A","thumb_url":"http://url_A_thumb"},"gender":"female","address":"address","city":null,"notified":true,"pincode":"pincode","lat":null,"lon":null}}}
    </td>
  </tr>
</table>
