<h3>POST /api/users</h3>
<div>
  Create an user
</div>
<b>Resource URL </b>
<div>
http://ragpickers.herokuapp.com/api/users
</div>
<b>Example request</b>
<div>
curl --data "user[email]=vuongbao0@gmail.com&user[password]=123456&user[password_confirmation]=123456" "http://ragpickers.herokuapp.com/api/users"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>user[email]</td>
    <td>Y</td>
    <td>Email</td>
  </tr>
  <tr>
    <td>user[password]</td>
    <td>Y</td>
    <td>Password must be at least 6 characters long</td>
  </tr>
  <tr>
    <td>user[password_confirmation]</td>
    <td>Y</td>
    <td>Password confirmation must be at least 6 characters long</td>
  </tr>

</table>
