<h3>GET /api/authentication/logout</h3>
<div>
  Sign out
</div>
<b>Resource URL </b>
<div>
  http://ragpickers.herokuapp.com/api/authentication/logout
</div>
<b>sample request</b>
<div>
curl "http://ragpickers.herokuapp.com/api/authentication/logout?token=login_token"
</div>
<h4> Parameters</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Name </th>
    <th style='width: 100px'>Required</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>token</td>
    <td>Y</td>
    <td>authentication token that api sign_in returned</td>
  </tr>
</table>

<h4>Response </h4>
<div>
 a json object
</div>
<h4>sample response</h4>
<table border="1" style="width:100%">
  <tr>
    <td>
      {"success":true}
    </td>
  </tr>
  <tr>
    <td>
      {"error":{"code":"20000","msg":"Token invalid"}}
    </td>
  </tr>
</table>

<h4>Error codes</h4>
<table border="1" style="width:100%">
  <tr>
    <th style='width: 200px'> Status </th>
    <th style='width: 200px'>Code</th>
    <th>Message</th>
  </tr>
  <tr>
    <td>403</td>
    <td>20000</td>
    <td>token invalid</td>
  </tr>
</table>
