span.checkbox.category {
  font-size: 25px;
  input { display: none; }
  &.checked {
    .fa-plus-square-o { display: none; }
  }
  &.unchecked {
    .fa-minus-square-o { display: none; }
  }
}

input[type=submit].popbtn:hover, a.btncnt:hover {
  color: #A8A8A8;
}

img.thumbnail-one { width: 214px; }
span.col-one {
  width: 27%;
  display: inline-block;
}
img.choose_user_avatar.small { width: 66px; }

.highlight-1 {
  color: #00b050;
  font-style: italic;
  font-weight: bold;
}

.mobile {
  &.au-pad {
    padding-top: 0;
    padding-bottom: 0;
  }
}
