span.checkbox.category {
  font-size: 25px;
  input { display: none; }
  &.checked {
    .fa-plus-square-o { display: none; }
  }
  &.unchecked {
    .fa-minus-square-o { display: none; }
  }
}

input[type=submit].popbtn:hover, a.btncnt:hover {
  color: #A8A8A8;
}
