@media (max-width: 767px){
    .intro-message > h1{
       font-size: 31px;
    line-height: 36px;
    font-weight: 900;
    }
    .intro-message > p{
        font-size: 16px;
    }
    .mob-pad{
        padding-bottom: 20px;
    }
    .bg-rate{
      margin-top: -59px;  
    }
    .bg-rate > h3{
        font-size: 16px;
    }
    .table-list > tbody > tr > td:nth-child(1){
        padding-top: 10px; 
        width: 100px;
        height: 100%;
        padding-bottom: 10px; 
    }
    .table-list> tbody > tr > td:nth-child(2){
        padding-left: 10px;
        padding-top: 20px;
        font-size: 15px;
    }
    .table-list> tbody > tr > td:nth-child(3){
        padding-top: 20px;
        font-size: 15px;
    }
    .table-list> tbody > tr > td:nth-child(4){
        padding-top: 20px;   
    }
    .table-list> tbody > tr > td:nth-child(4) > a > img{
        width: 18px;
    }
    .lst2pad{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pktxt > a {
        width: 100%;   
    }
    .pflpad{
        padding-left: 0px;
    }
    .edt-pad{
        padding-left: 20px;
        padding-right: 20px;
    }
    .table-user-information > tbody > tr > td:nth-child(2) {
        font-size: 14px;
    }
    .table-user-information > tbody > tr:first-child > td:nth-child(2){
        text-align: center;
    }
    .fltrer{
        float: right;
    }
    .hppad{
        padding-right: 15px;
        padding-left: 20px;
    }
    .padlft > ul {
        font-size: 14px;
    }
    .txtrgt > ul > li > a {
        width: 110px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .txtrgt{
        text-align: left;
    }
    .sumtxt > a{
        width: 100%;
        margin-bottom:0px; 
}
    .sumpad{
        padding-left: 30px;
        padding-right: 30px;
}
    .list-nav > ul > li{
    
    width: 32%;
    }