- @page_title = "List"
= render 'user/profile/nav_bar'
/ page Content
.container.lstpad
  .row
    .col-md-12
      .row
        %ul.list-inline
          %li.lstxt List
          %li.pull-right
            %a.btn.btncnt{:href => "#"} Continue
      .row
        .table-responsive
          %table.table.table-list
            %tbody
            - @categories.each do |category|
              %tr
                %td
                  = image_tag category.image_url, style: "width:100%"
                %td
                  = category.name
                %td
                  Rs. #{category.price}/kg
                %td
                  %span.checkbox.category.unchecked
                    %label
                      %input.check_boxes{name: "category_ids[]", type: "checkbox", value: category.id}
                      %i.fa.fa-plus-square-o.unchecked
                      %i.fa.fa-minus-square-o.checked

/ /.page Content
