= form_for(resource, as: resource_name, url: password_path(resource_name), remote: true, html: { method: :post }) do |f|
  - if resource.errors.any?
    = render 'shared/alert_errors', resource: resource
  .form-group
    .field
      = f.text_field :email, autofocus: true, class: 'infln', placeholder: 'Email'
    .actions
      = f.submit "Send me reset password instructions", class: 'btn popbtn text-uppercase'
